<div class="row justify-content-center align-items-center" style="background:#003d66">
    <div class="col-1 text-center">
        <div class="font-flip" > 
            <div class="front"> 
                <h1 class="display-1 text-light">F</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">F</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip"> 
            <div class="front"> 
                <h1 class="display-1 text-light">L</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">L</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip"> 
            <div class="front"> 
                <h1 class="display-1 text-light">I</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">I</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip" > 
            <div class="front"> 
                <h1 class="display-1 text-light">P</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">P</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip" > 
            <div class="front"> 
                <h1 class="display-1 text-light">G</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">G</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip" > 
            <div class="front"> 
                <h1 class="display-1 text-light">A</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">A</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip" > 
            <div class="front"> 
                <h1 class="display-1 text-light">M</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">M</h1>
            </div> 
        </div>
    </div>
    <div class="col-1 text-center">
        <div class="font-flip" > 
            <div class="front"> 
                <h1 class="display-1 text-light">E</h1>
            </div> 
            <div class="back bg-light">
                <h1 class="display-1 text-info">E</h1>
            </div> 
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("div.font-flip").flip({
                trigger: 'hover'
                });
        });
    </script>
</div>