<div class="container-fluid bg-dark" >
    <div class="row justify-content-center align-items-cente">
        <div class="col-2">Column</div>
        <div class="col-8">    
            <h1 class="display-6 text-center text-warning">WELCOME</h1>
            
     
        
        </div>
        <div class="col-2 py-3">
            <a  class="btn btn-warning" href="/admin" target="_blank" role="button"><i class="bi bi-person-exclamation" ></i> Admin</a>
        </div>
        {% include 'base/fliphead.html' %}
    </div>

    
</div>
